.hero-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #053fff80 !important;
}

.caption-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  
}

.caption {
  font-size: 60px;
}

.carousel-item img {
  width: 100%;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.accordion-button {
  color: #003366 !important;
  font-weight: bold;
}

.carousel-control-next-icon {
  display: none;
}

.carousel-control-prev-icon {
  display: none;
}

@media (max-width: 1024px) {
  .cap {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .cap {
    font-size: 35px;
  }

  .caption1,.caption2 {
    font-size: 12px;
  }

  .change .nam {
    font-size: 24px;
  }

  .section-heading {
    font-size: 20px !important;
  }

  .section-info {
    font-size: 12px !important;
  }

  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .feature .texts {
    font-size: 12px;
  }

  .caption-center {
    padding: 0;
  }

  .additional-buttons {
    justify-content: center;
  }
}

@media (max-width: 609px) {
  .cap {
    font-size: 25px;
  }
}

@media (max-width: 455px) {
  .section-heading,.change .name {
    padding-top: 20px;
    text-align: center;
    font-size: 20px !important;
  }

  .change{
    padding-bottom: 0 !important;
  }

  .learnmore.btn, .find {
    font-size: 0.8rem;
    padding: 8px;
    width: 100%;
  }

  .caption {
    font-size: 12px;
    padding: 0 !important;
  }

  .caption1, .caption2 {
    font-size: 10px !important;
    text-align: center;
  }

  .hero-btn{
    text-align: center !important;
  }

  .caption-center {
    padding: 0;
  }

  .learn {
    display: flex;
    padding-top: 10px;
    justify-content: center;
  }

  .about{
    padding-top: 0 !important;
  }
}